html {
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

.title {
    text-align: center;
    padding-top: 20px;
}

.main {
    height: 90vh;
    /* opacity: 0.6; */
    background: rgba(0, 0, 0, 0.1);
    margin: 5vh auto;
}

.header {
    background: rgba(0, 0, 0, 0.1);
    height: 10%;
    flex: 0 0 100%;
    color: black;
}

.row {
    display: flex;
    flex-flow: row wrap;
    height: 80%;
}

.chatbox {
    flex: 0 0 80%;
    height: 100%;
    overflow-y: scroll;
    padding: 30px;
}

.message {
    max-width: 80%;
}

.chatMsg {
    color: orange;
    background: rgba(0, 0, 0, 0.1);
    padding: 10px 10px;
    max-width: 100%;
    border-radius: 7px;
    margin-top: 20px;
}

#userName {
    color: yellow !important;
}

.users {
    background: rgba(0, 0, 0, 0.1);
    flex: 0 0 20%;
    height: 100%;
}

.activeUsers {
    list-style: none;
    padding: 10px 30px;
    font-size: 20px;
}

.online-logo {
    max-width: 15px;
}

.send {
    flex: 0 0 100%;
    height: 10%;
}

.send input {
    background: rgba(0, 0, 0, 0.1);
    border:none;
    height: 100%;
    color: yellow;
}

.send input::placeholder {
    color: yellow;
}

.button {
    background: rgba(0, 0, 0, 0.1);
    border:none;
    height: 100%;
    color: yellow;
}

.field {
    max-width: 80%;
    height: 100%;
}

strong {
    color: yellow;
}

@media only screen and (max-width: 800px) {
    .users {
        flex: 0 0 0%;
    }

    .chatbox {
        flex: 0 0 100%;
    }

    .send {
        flex: 0 0 100%;
        padding: 0 30px;
    }

    .field {
        max-width: 100%;
        height: 100%;
    }
}